body {
  background-color: $color-white;
  font-family: "heebo", sans-serif;
  color: $color-grey;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: $font-main;
  font-size: 16px;
}

